version: '3'
services:
  ticketomancy:
    build: .
    image: ticketomancy
    container_name: tickets
    restart: always
    working_dir: /usr/src/app
    command: ["yarn", "start"]
    volumes:
      - ./data:/usr/src/app/data
      - ./data/transcripts:/usr/src/app/data/transcripts
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
  db:
    image: mongo
    container_name: ticketsdb
    command: mongod --quiet
    restart: always
    volumes:
      - ./data/db:/data/db